[2018-06-25 06:15] Ice3man543 opened #1 "Migrate to a better data format Instead of JSON"
The current JSON format you are using has it's own limitation the biggest of them being really hard to edit it. In order to make changes inside a json object, or add new host objects, you'd have to load the whole structure into the memory and then make a simple change.

A better format would be [JsonLines](http://jsonlines.org/). To be honest, i've not really liked it but it's a definite improveme

[2018-06-25 07:37] 0xdevalias commented on #1
While I personally love the idea of graphs for this sort of thing, I wonder if it's not going 'too far' into the abstract for this sort of thing.

Ideally, as I see it, the standard should be the simplest, least effort way for a tool maintainer to output things in a standard format, ideally using features common to the language.

I'd have to think a bit more before I comment on the 'large json nes

[2018-06-25 10:39] Rhynorater commented on #1
Great suggestions, @Ice3man543! I think JSONLines is certainly something we should implement. This fixes our grep-ability issues AND it is super easy to convert JSONlines into readable JSON objects using ```python -m json.tool``` or by the use of [jq](https://github.com/stedolan/jq). Such a good idea :) I'll integrate this into the standard later today (EST) if there aren't any further objections.

[2018-06-25 10:42] Ice3man543 commented on #1
@Rhynorater I agree for json lines option. It's a good format. :+1:

[2018-06-25 10:45] michenriksen opened #2 "Attribute: Version"
## Description
An attribute to contain the [semantic version](https://semver.org/) of the document schema that the document adheres to:

[code]

## Reasoning
Having an attribute with the schema version would make it possible for tools to know what structure and objects to expect, as well as make it possible to handle backwards-compatibility situations.

[2018-06-25 11:09] Rhynorater commented on #2
Nice call, @michenriksen. We should def implement something like this as the standard is bound to change. Couple questions:
How should we plan to implement this, in your opinion? What should define the semantic version (commits, arbitrarily defined updates, releases)? Where should this data be placed within the file if complying with JSONLines standard?

[2018-06-25 11:14] Rhynorater commented on #2
We could certainly do something like this:
[code]
So that the first line of any Recon.JSON file is metadata about the file. However, this would bloat the file with non-recon data. Alternatively, we could do something like this:
[code]
Where the semantic version number is defined as a part of the initial file name. However, this will result in losing that information when the file is renamed (as it

[2018-06-25 11:16] Ice3man543 commented on #2
@Rhynorater I am working on something. Will be done soon!

[2018-06-25 11:37] Ice3man543 opened #3 "Adopt a strict output format with a prototype"
## Overview

The format is currently very loosely based and can be mis-interpreted by different authors of open source tool. In my opinion the specification should be very clear and not misleading on any point. So, as i like open source, here is my contribution in the form of a complete structural detail on this Output format.

## Structure

The data is stored in a jsonlines file. The extension fo

[2018-06-25 11:42] Ice3man543 commented on #3
Also, @Rhyonater the specs need to define each field that may be present. This way developers can be free of worrying about not being compatible. Everything needs to be absolutely well defined and clear.

[2018-06-25 11:53] codingo opened #4 "Github organisation?"
I greatly appreciate the first steps taken here @Rhynorater but here's a lot of interested parties / moving pieces to this to consider. I propose we move this project away from any one personal profile and convert to a Github organisation where this can be more properly managed.

The owners of tools looking at opting-in can be invited / made owners of the standard, jointly allowing for free collab

[2018-06-25 11:57] Ice3man543 commented on #4
I agree with Michael here. It would allow far better collaboration and would allow it to hold multiple code examples in different languages. Also interested tool owners could probably work further on the format.

[2018-06-25 11:57] Rhynorater commented on #4
@codingo It shall be done! I'll go ahead and work on that now.

[2018-06-25 11:58] codingo commented on #4
Great, and for what it's worth I still believe any documentation should lead with your name having started this, even if multiple people co-author the organisation together.

What you've done here has needed to happen for a while, and is worthy of long-term recognition.

[2018-06-25 12:03] EdOverflow opened #5 "Publish Recon.json as an Internet draft."
Justin and I had a little chat about this. If you really want to gain adoption, I would suggest writing up an Internet draft and uploading it to the IETF registry.

[2018-06-25 12:05] codingo commented on #1
I agree on everything, just one point:

[code]

I believe one of the large drivers for such a standard will be to encourage new integrations and innovation in our space. We should each focus on doing one thing, and doing it as well as we can - the unix way, whilst opening the door for other products to come in.

Graphing and visualizations should be encouraged in additional tools, and even if this

[2018-06-25 12:46] Rhynorater commented on #4
@codingo Thanks for the consideration :) I appreciate that.

Just to update you, the hold up on starting an organization is creating the name :P If you have any suggestions, let me know hahaha

[2018-06-25 13:15] Rhynorater commented on #4
Done. @codingo

[2018-06-25 13:15] #4 closed

[2018-06-25 14:54] michenriksen commented on #2
I think version data should definitely be available inside the document somewhere, as I think users whould have the freedom to rename files to whatever they want/need. I think having a key for document metadata makes sense.

[2018-06-25 15:06] michenriksen opened #6 "Attribute: Changelog"
## Description
An attribute that contains a sort of changelog array that tools would add entries to when they create the initial file or when they decorate the document further with new data:

[code]

The above example would indicate that amass created the initial file that aquatone later consumed and decorated with further data.

## Reasoning
The changelog makes it easy to see which tools have al

[2018-06-25 15:19] rshipp opened #7 "Include a formal JSON schema"
JSON-schema is designed for exactly this: http://json-schema.org/. It lets people validate JSON against your schema, and shows developers exactly how the format should be used. Super helpful from a developer perspective. It also gives you a specific spec to reference for #2.

I'm not sure how this would interact with the "jsonlines" suggestion from #1, but I would assume you would just have to val

[2018-06-25 15:31] deadbits commented on #1
I'm not super familiar with JSONLines, but I'd assume that if this ReconJSON schema is adopted widely many people will want to integrate into their tools and applications - Is JSONLines something that's commonly supported by web frameworks, Python libraries, databases like say MongoDB (minus db import/export), and so on?

Right now it seems that essentially everyone developing tools in this space

[2018-06-25 15:46] Rhynorater opened #8 "What is a "Host"?"
## Expected Behavior
ReconJSON is expected to provide a data standard that accommodates all different types of recon. Recon is designed around scope. Scope can be defined in many different ways: single ips, ip ranges, wildcard domains, and specific subdomains. As a result, we need a format that will accommodate those standards and their individual definitions of a host.

## Current Behavior
The cu

[2018-06-25 15:53] deadbits commented on #1
Also just another thought, you can easily grep normal JSON using JQ anyways so I'm not sure I see the benefit of JSON Lines being more easily greppable - or if it is in fact any more easy to grep than normal JSON if you're using JQ in both cases.

[2018-06-25 15:55] Ice3man543 commented on #8
The second idea is a good one. Let the tool or the parser decide what is a host for it.

[2018-06-25 16:08] iad42 commented on #8
The second idea looks much better.
I faced a similar issue when building a tool and decided to separate ips from hosts.

It is mostly about storing data, but may be this would be useful. I have defined a host equal to hostname. So the idea is the following:
- Ports are a property of an ip address, not the host
- Hosts-IPs is a many-to-many relationship, so i would probably make it a totally differ

[2018-06-25 16:15] michenriksen commented on #7
This is really nice!

[2018-06-25 16:37] michenriksen opened #9 "Rename subdomain attribute"
## Description
The current example schema uses the attribute name `subdomain` for holding the FQDN for a host.

## Reasoning
A subdomain is only part of a host's FQDN and is therefore a little misleading and not flexible enough to accommodate tools that work with domain names, but not subdomain enumeration. An example would be something like a tool that finds live hosts in an IP range that might a

[2018-06-25 18:02] Rhynorater commented on #9
Agreed. Will make this change.

[2018-06-25 22:03] Rhynorater commented on #1
@deadbits - good points. I just noticed that JSONLines is not a valid json structure when loaded from a file. I'd be more inclined to make something similar to JSONLines, but that also contains a valid JSON structure. Something like this:
[code]
Where hosts are still defined on each line, but are also valid JSON structures. This maintains the normal grep-ability, but also keeps the form minimalist

[2018-06-25 22:04] Rhynorater commented on #1
This allows for #7 to validate more easily as well.

[2018-06-25 23:18] codingo commented on #4
Thank-you @Rhynorater. Could you also add some of the contributors to tools as admins on the organisation to keep it distributed? This would ensure its longevity.

I can vouch for @Ice3man543 @edoverflow @michenriksen.

[2018-06-26 01:04] jobertabma opened #10 "Use cases, project scope, adoption, and some thoughts"
Hi team,

Thanks for putting this together! I wanted to give some high level feedback on the current implementation and I have some questions about its future and wanted to share some of my thinking on it. Feel free to ignore things you disagree with or don't believe are important. Some of it might've come up in other issues already. I scanned them briefly and will leave out things that others hav

[2018-06-26 02:16] Rhynorater commented on #4
@codingo invites have been sent. Have you received yours?

[2018-06-26 02:22] Rhynorater commented on #6
Great thoughts, Michael. We should certainly have some sort of timestamp on the objects to tell when and by whom they were modified.

What are your thoughts on how long the changelog should be? Should there be multiple entries from one tool?

[2018-06-26 02:51] codingo commented on #4
Have now, thank-you! I've messaged you an e-mail on twitter for slack also.

[2018-06-26 02:53] Rhynorater commented on #1
@Ice3man543 Please read the section I just published. Feel free to add comments here before making changes or just merge them in yourself if you feel the changes are objectively better.

[2018-06-26 02:59] Rhynorater commented on #6
@michenriksen Also, what are your thoughts on whether the changelog should be on a file level, or on an object level?

[2018-06-26 03:46] Rhynorater opened #11 "DNS Object Problems"
## Description
The DNS object needs to be able to describe all of the types of DNS Records. The definition should also be more clear and reflect the protocol. See the following examples:

[code]

Each of these types of records should have an object definition.

[2018-06-26 03:47] Rhynorater commented on #9
Done.

[2018-06-26 03:47] #9 closed

[2018-06-26 03:49] Rhynorater commented on #3
I'll work on this. Especially about which fields are required by the respective objects.

[2018-06-26 03:50] Rhynorater commented on #1
@Ice3man543 As an update, I have partially migrated the README.md. However, its getting late so I'm headed to bed. Will try to finish tomorrow AM (GMT +5)

[2018-06-26 03:51] codingo opened #12 "Attribute: Ports (TCP:UDP)"
For history, hosts are currently described with the following:

This doesn't take into account TCP/UDP for ports. I believe a lot of authors would review the ports element and assume it to be a series of integers. Should we address tcp/udp more directly in the object?

[2018-06-26 03:52] caffix commented on #1
@codingo I agree with your point regarding the importance of attempting to consider innovation during the development of this standard.

Recon and OSINT information gathering have been showing the value of using link graphs to manage collected data for years. This makes perfect sense as well, due to the fact that we are attempting to represent/model networks. As you pointed out, this also helps wh

[2018-06-26 03:53] codingo commented on #11
I believe ports will have similar considerations, see #12.

[2018-06-26 03:56] codingo commented on #1
Most definitely. Since I wrote that @michenriksen raised #6 which makes this cleaner for outside tooling. When designing a graph or a dashboard you could monitor this change log to know when updates to the base object have been made.

[2018-06-26 04:55] caffix commented on #6
I can see users being interested in the change log at the file level and for each object. Users also like to know the data source of each object. In this case, they would probably like to know the tool and data source that last updated the object, and the time stamp for when that happened.

[2018-06-26 06:50] codingo commented on #6
Having done some work with graphing @caffix, would you want the ability to re-render a single object (knowing it had been updated) or would you tend to be cautious and just re-render the entire file?

I'm inclined to think a file update would be acceptable but also wonder if there's a piece to the puzzle I'm not seeing having not written anything graphing related before.

[2018-06-26 08:57] Ice3man543 commented on #6
@Rhynorater @michenriksen From what i understand by reading the issue, people will be interested in changelog at both file level and object level. I think this can be sorted out easily.
For example, we could have a file level object describing the full changelog containing the actions performed where each action has a UUID associated to it. No two UUID should be the same.

Here, at the end of the

[2018-06-26 13:01] Rhynorater commented on #12
Yep. Thaaaat's probably a good idea :P
My thoughts on how to do that would look like this:
[code]
Both TCP and UDP MUST be defined within the structure of the ```ports``` attribute - even if they are empty.

Thoughts?

[2018-06-26 13:05] Rhynorater commented on #1
I really feel like making this a graph structure is going to take away from the simplicity of the format, @caffix and @codingo. Perhaps some goal and scope definition for this project is in order. I will try to get something out around that later on today.

[2018-06-26 15:11] deadbits commented on #1
@Rhynorater Agreed^ If users want to use the schema to make graphs within their tools, that's not super hard to do with JSON. Lots of tools do it already

[2018-06-26 15:15] deadbits opened #13 "Consider attributes outside of simply Host"
Recon/OSINT tools usually involve a lot more than just Hosts/IP/Subdomains

I'd consider including:
- Email Address
    - Examples:
        - Sites found with address
        - PGP keys
- URL
- Usernames
    - Examples:
        - Twitter profiles found
        - Github profiles found
        - Social media accounts in general
        - Associated to email addresses where name is found via PGP key

[2018-06-26 15:16] deadbits commented on #13
Take a look at SpiderFoot's data elements for example of attributes and sub-attributes of each: http://www.spiderfoot.net/documentation/#data-elements

[2018-06-26 16:08] caffix commented on #13
Excellent recommendation, @deadbits!

[2018-06-29 14:09] Rhynorater commented on #13
Grea thoughts @deadbits We're gonna put some additional thoughts into how to deal with these different objects.

[2018-06-30 02:17] #11 closed

[2018-06-30 03:14] Rhynorater commented on #1
@Ice3man543 are you satisfied with the current format?

[2018-06-30 03:17] #8 closed

[2018-06-30 03:39] Rhynorater commented on #3
The "version" attribute will be added in at a later iteration. All other requests of this issue have been resolved.

[2018-06-30 03:39] #3 closed

[2018-06-30 03:39] Rhynorater commented on #12
Resolved.

[2018-06-30 03:39] #12 closed

[2018-06-30 03:58] Ice3man543 commented on #1
Yeah, I am.

[2018-06-30 10:42] #1 closed

[2018-06-30 11:10] Rhynorater commented on #13
@deadbits - Just to follow up with you, I think we are going to use this as a V2 of ReconJSON. Being able to completely describe a Host a fairly big task. Being able to describe everything, is a HUGE task. So we're gonna take it in bite-sized chunks. After Hosts, here are some things on the docket:

1. Domains (second-level domain itself,  whois data, historic DNS)
2. IP ranges
3. Users (Usernames

[2018-06-30 19:39] deadbits commented on #13
@Rhynorater awesome, thanks for the update and follow up on this. I know it's a pretty big ask overall. I'd be happy to help work with you to figure out ANY of the mappings I recommend whenever you're ready too, just FYI.

Also just a foreword I'd like to apologize for the poor formatting of this reply as I'm on my phone and the keyboard is missing a character I need to create a codeblock.

For th

[2018-06-30 19:42] deadbits commented on #13
Think of services like PassiveTotal that give you a view of Domains, Subdomains, SSL Certs associated with these, and File hashes that relate to the Domains & Subdomains - which I believe is determined by a file being found on a host (url/ip) or communicating with a host (url/ip/domain)

[2018-06-30 19:57] deadbits commented on #10
"Given that the data that'll be stored using the specification is volatile, I'd think it'd be useful to have a generic set of attributes that give some insight into when the information was discovered, like last_observed_at which would contain an ISO 8601 date/time notation."

I highly agree with this. Including fields such as last_observed / first_observed  aka first_seen and last_seen would be a

[2018-06-30 22:46] deadbits commented on #13
Just another external resource here but the Recon framework Intrigue is pretty great and supports many entities in this field overall. Here's a link to their Github page of entities / artifacts if you need any more ideas of other use cases and how others integrate artifacts into their schemas
- https://github.com/intrigueio/intrigue-core/tree/master/lib/entities

Though Spiderfoot link above has m

[2018-07-17 13:16] kcreyts commented on #13
Sfp's pivoting features for x509 and TLS observations are a bit sparse, but it is generally a treasure trove of good ideas for features. https://github.com/smicallef/spiderfoot/blob/master/modules/sfp_crt.py and https://github.com/smicallef/spiderfoot/blob/master/modules/sfp_sslcert.py

I agree that it is otherwise a great place to get started. I'll see if I can't add some tls pivot details in a n

[2018-07-21 00:49] 0xdevalias commented on #13
I haven't made the time to read all the other threads yet, but noticed this one, and in particular the bit about "fully describing a domain is a big task".

An approach I have taken in a personal project recently is to use a bit of a 'tier'/parent model in my hierarchy.

So there is an `apexHost` at the root (eg. foo.com), which then has `host` elements linked to it to handle the actual domain/sub

[2018-07-21 02:33] deadbits commented on #13
Definitely a fan of the first described schema. It's a pretty logical way of following host information. Only thing I imagine being a problem is, if I'm following you correctly, is:
- What of the user doesn't start out with the top level domain?
    - Apps would have to parse that info automatically on behalf of the user and essentially force them to store it in whatever DB they're using even if t

[2018-08-16 04:30] Edznux opened #14 ""Service" object"
Hi,

I tried to implement a simple lib and tests in Go for this standard ([ReconJSON-Go](https://github.com/Edznux/ReconJSON)) and during this time I encountered some problem, especially about the "Service" object.

It's not defined in the draft but used in an example. Here are my issues :
- [x] What's the purpose of the "protocol" key ? Is it simply the same as in the parent Port object ?
- [x] W

[2018-08-16 13:47] Rhynorater commented on #14
Hey @Edznux! Thanks so much for your issue.

You are 100% right that there is no definition for the Service object yet. I have recently been overseas and have not yet been able to finish it. I'm moving my apartment this week but will try to get something up to clarify your issues very shortly.

Thank you so much for taking the initiative to write the Go-lang parser. I will try to have this standar

[2018-08-19 00:40] 0xdevalias commented on #6
While I do like the idea of knowing what data/updates came from which tool, etc; I wonder if this is starting to get into the 'bit too complex' case for the most basic thing. If the spec becomes too complex, I expect tool developers will be less and less inclined to use it. The way I see it, this should make things simpler (less thinking, etc) than not using it, so that people choose it for their

[2018-08-19 00:45] 0xdevalias commented on #8
Agree with @iad42's comments above. In a system I have been working on, I have `apex` (eg. example.com), `host` (eg. foo.example.com) which links to an `apex`, `ip` (eg. 1.2.3.4), etc as their own entities. A `host` will always have a link to an `apex`. An `ip` can have links to `host` records. `ports` are linked to an `ip`. Etc. It maps itself nicely into a graph layout, which could then be trans

[2018-08-19 01:03] 0xdevalias commented on #13
@deadbits It depends on the data you're starting with. So `ip` is it's own 'root'. For a `host`/subdomain you can always derive the `apex`. For `ports` I make an implicit assumption that they're tied to an IP. For an `endpoint` (eg /foo/bar) I make an assumption it's linked to a `host` (though potentially it could also link directly to an `ip`..). Etc.

Basically.. I try to only utilise a 'parent

[2018-08-19 01:16] 0xdevalias opened #17 "Use single backticks for inline code/pre"
I noticed while skimming through the main code that triple backticks ``` are used wherever a code/pre is wanted, but this is only required for multiline blocks. When using inline, single backticks are sufficient `.

eg. This will use `inline code` whereas the following should use the triple backticks:

[code]

I didn't bother changing/sending a PR as it might mess up any other currently pending PR

[2018-08-19 01:19] 0xdevalias opened #18 "Sorting of data within arrays"
Where the standard enforces an 'array-like' data type (eg. DNS TXT records), should the standard dictate if/how that array should be sorted? For example, alphabetical or otherwise for each section.

And if so, is this a `MUST` or a `SHOULD`? If not, should we make some distinction that the data contained within should be treated as unsorted and left up to the consumer to interpret?

[2018-08-19 01:23] 0xdevalias opened #19 "`Port` object - services"
Skimming through the current `port` object, it states that:

But then in the example that follows, the `services` key isn't defined for the first entry.

I expect the intention of this is that if the `services` key is defined, then it must be an array of service objects. At least, this is how I would expect it to be.

I'm not sure that it would make sense to enforce a MUST on the service objects,

[2018-08-19 01:28] 0xdevalias opened #20 "Well known service descriptors vs 'unofficial'"
Should there be a distinction drawn between how a servicedescriptor name is used? Eg. to follow the HTTP header standards, the 'well known' accepted values are named such as `Foo`, whereas unofficial/vendor specific/etc headers are generally denoted as `x-Foo` or similar.

Basically, the intention here would be to define it in such a way that 'well known'/defined keys are officially included in th

[2018-08-19 13:36] Rhynorater commented on #6
To be honest, I agree with @0xdevalias. I think what this standard really needs to be is NOT the best, most thorough, "has every detail" standard. What it needs to be is something simple, not scary, and universal that developers can expand upon if the need be. ReconJSON should be extensible for things like a change log (perhaps we build this into suggestions for a database-like branch off), but sh

[2018-08-19 13:39] Rhynorater commented on #6
Although, I say, if we do anything, I feel like something like this would be helpful (proposed by Jobert) in issue #10.
[code]

[2018-08-19 13:41] Rhynorater commented on #14
@Edznux You should have been invited to the slack.

I've made some changes to the Service object. May  I get your thoughts on it now?

[2018-08-19 13:43] Rhynorater commented on #17
@0xdevalias Great thoughts. I didn't realize you could just use single backticks for that. That is helpful.

I'm gonna put this one on the backburner for now (unless you wanna fix it yourself, which would be great) until we get the standard more fully developed. However, when its at a more stable point, I'll certainly go back and fix all of it.

[2018-08-19 13:44] Rhynorater commented on #18
Great point. I'm thinking that it SHOULD be sorted. Thoughts?

[2018-08-19 13:47] Rhynorater commented on #19
So, perhaps I'm doing this wrong, but I'm using MUST to mean "if this object is defined, then this MUST happen" and then I'm using the * to indicate whether or not certain fields are required in the object structure. In the `Port` object, since `services` isn't required, I don't give an example with it.

For an example of the implementation of the `services` attribute of `Port`, see the `Service`

[2018-08-20 13:13] Edznux commented on #14
Hey,

I didn't got the invitation, did you miss-typed "edznux" ?

For the spec : cool, it is definitely better now ! :)

Here are some new points :

- [ ] define standard case ("Paths", "serviceDescriptors", "Service", "http")
- [ ] I'm pretty sure that in the DNS and Ports examples the first "{" should be replaced by "[" or removed
- [ ] Services :
	- [ ] As a non-native english, I'm not sure tha

[2018-08-22 18:12] deadbits commented on #13
@0xdevalias  Few questions here..

- do you happen to have an example of your current idea / implementation of this schema so far? I think i'd better understand it if I saw it with real data, and I probably wouldn't be asking these questions all the time :)

- I can see cases where problems might occur depending on what data type you start with, if you are forcing certain data types to always be t

[2018-08-22 18:26] deadbits opened #21 "Add fields to schema: tags, notes, source"
For use in OSINT apps, adding fields such as `tags`, `notes`, and `source` would be quite useful.
- **Tag:** It's common to tag similar artifacts and then later search by tag to find them
- **Notes:** If the artifact is used for an investigation, perhaps you want a simple note or two like "Suspected to be involved in APT28 activity" - which again could later be searched for or provide info to othe

[2018-08-22 18:29] deadbits commented on #7
👍 on this. I recently used this for an OSINT project of mine actually and I basically imported an example MongoDB document and it spat out a JSON schema https://www.jsonschema.net/

[2018-08-22 18:32] deadbits commented on #2
As referenced by #7 , JSON-Schema can handle versioning for you:

Basic example
[code]

[2018-08-23 14:41] Rhynorater commented on #6
@deadbits I agree - We'll make this change. If you like, you can create a pull request making the changes (please change to Camel Case). Otherwise, I will make the changes soon.

[2018-08-25 04:43] 0xdevalias commented on #6
Definitely agree with this, and overall I think SOME form of date/time metadata would be useful. My point was more around considering what features we choose to add to the spec, as each time we make it more complicated, it makes it less and less likely that the implementing dev/application is likely to choose the spec, versus just doing their own thing (the "too hard, won't bother" problem)

[2018-08-25 05:12] 0xdevalias commented on #13
Not really in any 'easily sharable' format, and what I do have probably wouldn't provide any more detail than how I shared above unfortunately.

So basically in my personal implementation, I am only adding/enforcing an `apex` when it makes sense. So the current implementations off the top of my head:

* `apex` (eg. `example.com`) -> `host` (eg. `foo.example.com`) -> `endpoint` (eg. `/foo`)
* `ip`

[2018-08-25 05:15] 0xdevalias commented on #18
I like the idea of it being sorted for consistency.. but if it's a `SHOULD` then downstream you can never trust that it will be, so will likely have to check/sort it anyway. And if you you have it is `MUST`/`SHOULD` then you would potentially have to get into defining how it is sorted/etc.. which might just needlessly complicate things..

[2018-08-25 05:16] 0xdevalias commented on #17
Sounds good. Shall leave this open for a future reminder and handle it then.

[2018-08-25 05:33] 0xdevalias commented on #21
If these get added, I feel like they should be defined in a common `metadata` type structure which MAY contain each individually, and the `metadata` structure MAY be present on any of the other main types. This way we define support for it in a standard way, but it isn't required where tools don't want to implement it.

[2018-08-25 05:40] 0xdevalias opened #22 "Types and other keywords should be lowercase"
For consistency (and because I think it looks better), I feel like types and other keywords/keys should be lowercase. (eg. `{"type": "host"}`)

If we go ahead with this, then we would need to also define how multi word values are represented. My personal choice would be `lowerCamelCase`.

Open to others opinions/suggestions.

[2018-08-25 06:06] 0xdevalias commented on #19
I don't believe that usage quite matches the standard usage (from my understanding). I believe this is the correct standard, but I only googled super quick.. https://www.ietf.org/rfc/rfc2119.txt

For example:

We have an object `Foo` which `MAY` exist.

`Foo` objects:
* `MUST` contain a key `Bar` of type String
* `MAY` contain a key `Baz` of type Array of Strings

Looking at the [Port](https://git

[2018-08-25 06:26] 0xdevalias opened #23 "Clarify differences between main readme and 'type files'"
Currently it appears as though types are defined both in the main Readme, as well as in their own type file (eg `Host.md`). I feel like this leads to confusion/ambiguity, and a potential for definitions to drift between the two.

I think it would make more sense to use the main Readme to lay out 'global rules'/high level references, and leave the specific definitions to the specific 'type files'.

[2018-08-25 17:11] deadbits commented on #13
Great, that clears a ton of stuff up and makes more sense now. I was originally picturing that your description would be enforcing app functionality (dns resolutions etc) in order to use it / to create an apex if you don't start off with an attribute that is itself an apex - if that makes sense. Your explanation clears it up tho.

Sometimes it's a bit hard to visualize the schema in abstract terms

[2018-08-25 17:17] deadbits commented on #21
Throwing these all into a "metadata" section makes a lot of sense. agreed that it'd be a good place for the other attributes you mentioned that we talked about in the other ticket I also don't remember off hand (last seen, first seen, created at)

I'll give some thought to this.. I don't think you'd want the metadata section to get really bloated but perhaps a few base / commonly used entries make

[2018-08-29 13:39] Rhynorater commented on #23
@0xdevalias Yeah, you're right. This is all over the place. I'll make the change.

[2018-08-29 13:40] Rhynorater commented on #22
I, personally, love `lowerCamelCase` and would be totally down for this. I'll take this one as well.

[2018-08-29 13:44] codingo commented on #17
I'm going to take care of this. May be a  few days, feel free to nudge me here if not committed by the 1st.

[2018-08-29 13:47] Rhynorater commented on #21
This is a great structure. So far the metadata suggested is:
[code]

@deadbits Would you be willing to write up a section called `metadata` that can be applied to any object containing the spec for these objects.

[2018-08-29 13:52] Rhynorater commented on #20
I think this is a good idea, but I could see things going wrong when we make the change from `package serviceDescriptor` to `well known serviceDescriptor`. Instead, I would like to propose that any developers submit a pull request to the `serviceDescriptors` folder with their desired `serviceDescriptor` before releasing any tools that utilize the standard.

Thoughts?

[2018-08-29 14:28] deadbits commented on #21
are we going with camel case? There's another ticket open to decide that - but I mean, if it's everyone except me (who wants lower_case_fields) then I can deal with camel case :)

[2018-08-29 14:28] deadbits commented on #21
And yes I can write that spec 👍

[2018-08-29 15:33] Rhynorater commented on #19
I think I get what you're saying.

So, I don't think the "MUST" keyword implies that the field is required, just that the proceeding statement is a requirement of the protocol. However, if you like, we could do something like this:
`optionalField`: MAY be included in the object. MUST be XYZ...

Thoughts?

Or perhaps we could do something like this:

The `port` object MUST have the following attrib

[2018-08-29 15:38] Rhynorater commented on #18
Yeah, I think its gonna be too messy to have to define how everything should be sorted. Let's just do a SHOULD with alphabetically and maybe someone will use it someday. Otherwise, I don't think its terribly important.

Go ahead and close this if you agree.

[2018-08-29 16:02] Rhynorater commented on #21
Great! Thanks for taking that on @deadbits! We're gonna do lowerCamelCase :) Thanks!

[2018-08-29 16:41] Rhynorater commented on #14
1. I'm not sure what you mean by "Define standard case"
2. Fixed! Thank you
3. Fixed! Thank you
4. Great point about path. I need to come up with a better name for that. I'm thinking "httpUrl". Changed GET and Length
5. Fixed! Thank you

[2018-08-29 16:45] Rhynorater commented on #14
To answer previous questions, the protocol, in the future, will be using lowerCamelCase. We'll be adjusting that shortly.
Also, please provide a list of DNS items that could be interesting to add to the standard. That'd be awesome.
Please see issue #8 to answer your questions about hosts.

[2018-08-29 16:47] Rhynorater commented on #14
See #22 for questions about capitalization. Hopefully, @0xdevalias will be taking care of this change.

[2018-08-29 16:53] Rhynorater commented on #13
The apex problem is one that we kind of addressed in #8. It might be interesting to consider an `apex` attribute in the metadata field.

Otherwise, are there current action items on this thread, if so, could we consolidate them? We already have a framework (via serviceDescriptors) to provide details about services. However, for things like `Usernames`, it might be helpful to define another top lev

[2018-08-29 17:03] Rhynorater commented on #10
@jobertabma To swing back around on this, here is where we are at with each of your action items:
1. Answered above
2. Answered above
3. The first stable version is a standard fully capable of describing a Host (as per the Host.md file)
4. Answered above - We're getting some great community involvement!
5. Fixed this issue - see `httpUrl`
6. See above question
7. We are implementing this per #21!

[2018-08-29 17:05] Rhynorater commented on #7
Just following around on this @rshipp. We will certainly be using this once the standard gets to a more static place with its primary objects.

[2018-08-29 17:06] Rhynorater commented on #6
This has been addressed in #21. @deadbits is in charge of this feature.

[2018-08-29 17:06] #6 closed

[2018-08-29 17:07] Rhynorater commented on #2
Will implement once we get to v1 release.

[2018-08-29 18:42] Edznux commented on #14
Hm, I'm not sure of which to add but why specifying them in this specification ?

Every one of them could be interesting, including futures ones, for specific applications.
And as specified in the document `If attribute values are not known, they MUST NOT be included unless specified` I don't see a any problem if there are not used ?

Can't we just specify that the key is the "Resource Record" is

[2018-08-29 19:15] Rhynorater commented on #14
@Edznux Wouldn't that only work for TXT records?

[2018-08-29 19:16] Rhynorater commented on #14
@Edznux You mean like the 4th and the 5th fields, here: https://msdn.microsoft.com/en-us/library/windows/desktop/ms682861(v=vs.85).aspx ?

[2018-08-29 19:51] Edznux commented on #14
Yes, Am i missing something ?
For example :
microsoft.com. 600 IN **A 150.150.150.1**
[code]

[2018-09-06 01:10] 0xdevalias opened #24 "JMESPath - Querying JSON"
Just stumbled across JMESPath, which aims to be a query language for JSON, and seems to have a decent spread of library support across languages:

* http://jmespath.org/
* http://jmespath.org/libraries.html

While it isn't directly spec related, it could be useful to think about if/how the spec data layout would  be able to be queried through tools such as this. And potentially any related tooling

[2018-09-06 14:07] Rhynorater commented on #18
Done

[2018-09-06 14:07] #18 closed

[2018-09-10 16:42] #17 closed

[2018-09-17 05:23] 0xdevalias opened #26 "[style] Ensure that 'ReconJSON' types are linked"
We should make sure that ReconJSON types are `wrappedInCodeBlocks` and linked:

[code]

See https://github.com/ReconJSON/ReconJSON/commit/bea2c40bea310d9d72e4f3573a7f62fb56a95122 for example of this applied to the `Host` file

[2018-09-17 05:57] 0xdevalias commented on #19
By my reading of https://www.ietf.org/rfc/rfc2119.txt

   definition is an absolute requirement of the specification.

If my description of an attribute (to take an example from above):

The "definition" here is:

Sine this is "absolute requirement of the specification", then the `services` key can never be anything other than:
* an array of `service` object(s) that describe the service(s) behind

[2018-09-20 02:27] Rhynorater commented on #26
This would certainly be helpful.

[2019-03-21 16:51] binaryflesh opened #29 "Add CAA to resource records"
when tracking crypto mischief having an CAA record would be a useful artifact.

## Expected Behavior

see below.
## Current Behavior

https://tools.ietf.org/html/rfc6844

## Context (Environment)

Not at liberty to discuss. Can be a very useful IoC.

## Detailed Description
Read the RFC.

[2019-07-09 10:40] deadbits opened #30 "Allow closed ports in “Port” object"
The current spec defines that closed ports should not be included in the JSON. For the purposes of OSINT and fingerprinting, a closed port is as useful to know about as an open port. This can allow you to rescan a host at a later time and compare the previous scan with the latest to see which ports have changed/opened.

For example, if you have a Host and it’s running Nginx on port 80, port 25 is

[2019-07-10 20:25] Edznux commented on #30
Hi,

Couldn't it be assumed that non-stored port are closed ?
I would agree with filtered port, we might want to add `{"filtered": true}` to the service.

I would think using the `active` field in the Service might be enough for your use case.

[2019-07-13 09:32] bcoles commented on #30
Non-stored ports may not have been scanned. `{"Schrodinger": true}`

I, for one, look forward to 65,535 TCP port objects and 65,535 UDP port objects for every host.

[2019-07-13 10:26] deadbits commented on #30
I'm with this person^

[2019-07-14 02:00] 0xdevalias commented on #30
My quick /2c here is that allowing for it in the spec would give the most flexible usecases for downstream workflows. And if we use well defined states for closed/filtered, then it’s easy to filter out results you don’t care about at your storage/persistence layer, etc.

[2019-07-14 13:23] deadbits commented on #30
My thoughts exactly. I don't see any real downside to including it.

IMO, modeling the field directly to Nmap's port values would be an easy way to go, as essentially everyone in infosec has used Nmap and is used to their understandings of values

[code]

[2019-07-14 13:24] deadbits commented on #29
Bump on this ^

[2019-07-14 13:30] deadbits commented on #24
Figure I'll add this as well, jq is a great tool for parsing / searching json as well https://stedolan.github.io/jq/manual/

The JMESPath CLI equivalent would be here: https://github.com/jmespath/jp

[2021-01-22 22:08] #5 closed